{% extends "base_site.html" %}
{% block title %} IMG - API Where your images come to life! {% endblock title %}
{% block body_style %}background-color: #404040; {% endblock %}

{% block content %}
<input id='user_posts' class='hidden' value='{{ username }}'>
<input id='user_media_id' class='hidden' value='{{ media_id }}'>

<br>
{% if current_user.is_anon %}
<div class='container'>
    <span style='color: white'> You are not registered, please consider signing up to keep access to your images.
    </span>
    <a class="btn btn-success pull-right" href="/create_account" role="button">Sign Up</a>
</div>
<hr>
{% endif %}

<div class='container'>
    <div class="imgbox">
        <a href='/media/edit/{{ media_id }}'>
            <img src='/api/media/get/{{ media_id }}' class='center-fit'>
        </a>
    </div>
    <br>
    <a class="btn btn-primary bg-theme" href='/media/edit/{{ media_id }}' role="button">Edit</a>
</div>

<div class="row" id='media_posts_container'></div>

{% endblock content %}

{% block javascripts %}
{{ super() }}
{% endblock javascripts %}

{% block footer %}
{% endblock %}