.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.sticky-logo h1 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
}

.sticky-logo h1 span {
    font-family: 'Raleway', sans-serif;
    color: #3ec1d5;
}

.hidden {
    display: none !important;
}


footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 150px;
    background: grey;
}

.footer_small {
    height: 75px;
}

.main_username {
    color: #aaa;
}

.img-fit-inside {
    object-fit: contain;
    object-position: center;
}