{% extends "base_site.html" %}
{% block title %} IMG - API Where your images come to life! {% endblock title %}

{% block content %}
<div class='container'>
    {% include "inc_create_account.html" %}
</div>
{% endblock content %}

{% block footer %}
<footer class="bg-dark text-center text-white footer_small">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        ©2022 Copyright:
        <a class="text-white" href="http://engineer.blue">Sergio A. Martinez</a>
    </div>
    <!-- Copyright -->
</footer>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock javascripts %}