<section class="">
    <header>
        <!-- Background image -->
        <div class="p-5 text-center bg-image" style="
                background-image: url('/static/img-api/images/background.webp');
                height: 200px; ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">

                        <h1 class="mb-3">
                            <center>
                                <a class="sticky-logo" href="/">
                                    <h1 style='color:white'><span>IMG</span>API</h1>
                                </a>
                            </center>
                        </h1>

                        <h4 class="mb-3">Where your images come to life!</h4>
                        <a class="btn btn-outline-light btn-lg" href="/media/upload" role="button">Upload an
                            image or video</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
</section>