{% extends "base_site.html" %}
{% block title %} IMG - API Where your images come to life! {% endblock title %}

{% block body_style %}
background-color: #404040;
{% endblock %}

{% block content %}
{% include "inc_header_upload.html" %}
<div class='container-fluid'>
    <section class="">

        <div id='main_row' style=''>
            <div style='margin-top: 7px'></div>
            {% for media in media_files %}
            {% if media['info'] %}
            <div class="img_gallery" image_count="{{ loop.index }}">
                <div class="bg-image hover-overlay ripple">
                    <a href="/user/{{ media.username }}/posts/{{ media.id }}">
                        <img image_count="{{ loop.index }}" image_width="{{ media['info']['width'] }}"
                            image_height="{{ media['info']['height'] }}"
                            src="/api/media/get/{{ media.id }}.v300.JPG"
                            class="img-row">

                        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>

                        {% if media['file_type'] == "video" %}
                        <div style="position: absolute; bottom:2px; right:5px;"><img border="0" id="play_icon_29286" src="/static/images/play_icon.png" width="16" height="16"></div>
                        {% endif %}

                        {% if media.is_anon %}

                        {% else %}
                            <div style="position: absolute; bottom:2px; left:5px;">
                                <div class='click_user' href='/user/{{ media.username }}/posts' style='color:#fff'>
                                <small>
                                    {{ media.username }}
                                </small>
                                </div>
                            </div>
                        {% endif %}
                    </a>
                </div>

            </div>
            {% endif %}
            {% endfor %}
            _
        </div>
    </section>
</div>

{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/images_adjust_row.js') }}"></script>
<script>
    var api_video = document.getElementsByClassName('video_player');
    for (video of api_video) {
        video.addEventListener('click', function(evt) {
            video.play();

            // Display controls
            video.setAttribute("controls", "");
        })
    }

    var click_users = document.getElementsByClassName('click_user');
    for (user of click_users) {
        user.addEventListener('click', function(evt) {
            debugger;
            evt.preventDefault()
            window.location.href = user.getAttribute('href');
        })
    }
</script>

{% endblock javascripts %}