{% extends "base_site.html" %}
{% block title %} IMG - API Where your images come to life! {% endblock title %}

{% block body_style %}
background-color: #404040;
{% endblock %}

{% block content %}

<div class='container'>
    <section class="">
        <header>
            <!-- Background image -->
            <div class="p-5 text-center bg-image" style="
                  background-image: url('/static/images/background.webp');
                  height: 200px; ">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">

                            <h1 class="mb-3">
                                <center>
                                    <a class="sticky-logo" href="/">
                                        <h1 style='color:white'><span>IMG</span>API</h1>
                                    </a>
                                </center>
                            </h1>

                            <h4 class="mb-3">Where your images come to life!</h4>
                            <a class="btn btn-outline-light btn-lg" href="/media/upload" role="button">Upload an image</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Background image -->
        </header>
    </section>

    <hr>
    <section class="text-center">
        <div class="">
            {% for media in media_files %}

            <div class="img_gallery" style='float:left'>
                <div class="bg-image hover-overlay ripple rounded">
                    <a href="/user/{{ media.username }}/posts/{{ media.id }}">
                    <img src="/api/media/get/{{ media.id }}.v300.JPG" class="img-fluid img-fit-inside">
                        <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
                    </a>
                </div>
                <div class='main_username'>
                {% if media.is_anon %}
                    Anonymous
                {% else %}
                    <a href='/user/{{ media.username }}/posts' style='color:#aaa'>
                    {{ media.username }}
                    </a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/images_adjust_row.js') }}"></script>
{% endblock javascripts %}