{% extends "base_site.html" %}
{% block title %} IMG - API Upload new image! {% endblock title %}

{% block main_css %}
<link rel="stylesheet" href="{{ url_for('app_media_blueprint.static', filename='drop.css') }}" />
{% endblock %}

{% block content %}
<br>
<div class='container'>
    <center>
    {% if current_user.is_anon %}
        You are uploading as <b>Anonymous</b>, please register so you don't lose access to your images.
    {% else %}
        {% if current_user.username %}
        You are uploading as <b>{{ current_user.username }}</b>
        {% else %}

            <span>
                You are uploading as a non registered user.
            </span>
            <br>
            <br>
            <span>
                <a class="btn btn-primary bg-theme" href="/login" role="button">Sign In</a>
            </span>

        {% endif %}
    {% endif %}
    <hr>
    </center>

    {% include "inc_media_upload.html" %}

    <!-- Name input -->
    <hr>
    <div class="form-outline mb-4">
        <input type="text" id="user_media_upload_request_url" class="form-control" />
        <label class="form-label" for="form7Example1">Download from URL</label>
    </div>

</div>
{% endblock content %}


{% block javascripts %}
{{ super() }}
<script src="{{ url_for('app_media_blueprint.static', filename='drop.js') }}"></script>
<script src="{{ url_for('app_media_blueprint.static', filename='media_upload.js') }}"></script>
{% endblock javascripts %}