{% extends "base_site.html" %}
{% block title %} IMG - API Where your images come to life! {% endblock title %}
{% block body_style %}background-color: #404040; {% endblock %}

{% block content %}
<input id='media_id' class='hidden' value='{{ media_id }}'>

<br>
{% if current_user.is_anon %}
<div class='container'>
    <span style='color: white'> You are not registered, please consider signing up to keep access to your images.
    </span>
    <a class="btn btn-success pull-right" href="/create_account" role="button">Sign Up</a>
</div>
<hr>
{% endif %}

<div class='container'>
    <img src='/api/media/get/{{ media_id }}' class='edit_image' id='img_edit_image'>

    <span>
        <div class='text-white'>
            Transformations
            <br><br>

            <div class='btn btn-primary api_btn_process' process='transform/rotate_right'>
                <i class="fa-solid fa-rotate-right"></i> Rotate right
            </div>
            <div class='btn btn-primary api_btn_process' process='transform/rotate_left'>
                <i class="fa-solid fa-rotate-left"></i> Rotate left
            </div>
            <div class='btn btn-primary api_btn_process' process='transform/flop'>
                <i class="fa-solid fa-rotate"></i> Flop
            </div>

            <br><br>
            <div class='btn btn-primary api_btn_process' process='generate/thumbnail_128'>
                <i class="fa-solid fa-file-arrow-down"></i> THUMB 128px
            </div>
            <div class='btn btn-primary api_btn_process' process='generate/thumbnail_64'>
                <i class="fa-solid fa-file-arrow-down"></i> THUMB 64px
            </div>
            <div class='btn btn-primary api_btn_process' process='generate/thumbnail_32'>
                <i class="fa-solid fa-file-arrow-down"></i> THUMB 32px
            </div>

            <br><br>
            <div class='btn btn-primary api_btn_process' process='filter/blur'>
                <i class="fa-solid fa-photo-film"></i> BLUR
            </div>
            <div class='btn btn-primary api_btn_process' process='filter/median'>
                <i class="fa-solid fa-photo-film"></i> MEDIAN
            </div>
            <br><br>
            Format conversions
            <br><br>
            <a href='/api/media/get/{{ media_id }}.PNG'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> PNG
                </div>
            </a>
            <a href='/api/media/get/{{ media_id }}.JPG'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> JPG
                </div>
            </a>
            <a href='/api/media/get/{{ media_id }}.GIF'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> GIF
                </div>
            </a>
            <br><br>
            <a href='/api/media/get/{{ media_id }}.BMP'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> BMP
                </div>
            </a>
            <a href='/api/media/get/{{ media_id }}.PCX'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> PCX
                </div>
            </a>
            <a href='/api/media/get/{{ media_id }}.SVG'>
                <div class='btn btn-primary'>
                    <i class="fa-solid fa-file-arrow-down"></i> SVG
                </div>
            </a>
        </div>
    </span>
</div>

{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="{{ url_for('app_media_blueprint.static', filename='media_edit.js') }}"></script>
{% endblock javascripts %}

{% block footer %}
{% endblock %}